body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#app {
  width: 100vw;
  height: 100vh;
}

main#login-view {
  width: 100%;
  height: 100%;
  color: yellow;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 8em;
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
    text-align: center;
  }

  form {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    input {
      width: 100%;
      height: 10%;
      text-align: center;
    }

    button {
      font-size: 1em;
      font-family: "Comic Sans MS";
      padding: 5px 20px;
      color: pink;
      background-color: yellow;
      border: none;
    }
  }
}

div#login-cont {
  width: 60vw;
  height: 60vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
